/* Write your code here. */
.background-page {
  background-image: url('https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png');
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto';
}
.main-heading {
  font-family: 'Roboto';
  color: #0f172a;
}
.card-container-profile {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.profile-card {
  background-color: #cffafe;
  width: 300px;
  height: 400px;
  padding: 20px;
  text-align: center;
}

.about-person {
  color: #1e293b;
}
